.addprodtitle {
	text-align: center;
	padding-top: 4em;
}
.addprodtitle .form-control{
	width: 100%;
}

.addProductAll {
	text-align: center;
}

.addProductAll label {
	display: block;
	margin-top: 40px;
}

.addProductAll button {
	margin-top: 40px;
}