.navbar-nav{
	text-align: center;
}

.navbar-left{
	    margin-top: 15px;
	    font-size: 1.2em;
}
.navbar .form-group{
	padding-bottom: 0;
}

.navbar .form-control{
	width: 50%;
	display: inline;
}

.test5{
	padding: 0;
	margin: 0;
	margin-top: 8px;
}
.leftPad{
	 padding-left: 0;
	}

a, a:link, a:visited{
	color: gray;
}
a:active, a:hover{
	transition-property: color;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    transition-delay: initial;
	color: #fff;
}
.searchPad{
	padding-right: 0px;
}
.navbar-toggle{
	    margin-bottom: 43px;
}

.navbar-inverse {
    background-color: #000;
}

.navFont{
	font-family: 'Oswald', sans-serif;
}