<footer class="footer">
      <div class="container-fluid">
      	<div class="row">
			<div class="socialmedia col-xs-12">

						 <a href="https://www.facebook.com/" target="_blank">
						 	<i class="fa fa-facebook-official fa-3x"></i>
						 </a>

						  <a href="https://twitter.com/thegearup" target="_blank">
						 	<i class="fa fa-twitter-square fa-3x"></i>
						 </a>

						  <a href="https://instagram.com/" target="_blank">
						 	<i class="fa fa-instagram fa-3x"></i>
						 </a>
			</div>

		</div>
        <p class="text-muted">&reg All rights reserved.</p>
      <p class="text-muted">&copy Copyright The Gear Up Association of Zombie Protection and Prevention.</p>
         <p class="text-muted">Please direct all zombie related queries and non-zombie related inqueries to the Global Association of Zombie Action ( GAZA)</p>
      </div>
    </footer>